mat-form-field,
button {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

section {
  display: flex;
  flex-direction: row;

  > *:not(:last-child) {
    margin-right: 20px;
  }

  mat-form-field {
    min-width: 400px;
  }
}

pre {
  width: 600px;
  overflow: auto;
}
