name: build

on:
  - pull_request
  - workflow_dispatch

permissions:
  contents: read

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version: lts/*
          cache: npm
      - run: npm install

  lint:
    needs: install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version: lts/*
          cache: npm
      - run: npm install
      - run: npm run lint

  test:
    needs: install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version: lts/*
          cache: npm
      - run: npm install
      - run: npm run build:lib
      - run: npm run test:ci
      - uses: actions/upload-artifact@v4
        with:
          name: tests-coverage
          path: coverage/
          if-no-files-found: error
